/*
 * HTML5 Boilerplate
 *
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

// COLORS

$tiel: #12BFC5;
$bright-tiel: #00defb;
$orange: #ff7a00;
$grey: #595959;
$grey2: #454C64;
$purple: #252968;
$gold: #C0A888;



html,
button,
input,
select,
textarea {
    color: $tiel;
}

html,body
{
    width: 100%;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden; 
}

body {
    line-height: 2;
}



/*
 * Remove text-shadow in selection highlight: h5bp.com/i
 * These selection rule sets have to be separate.
 * Customize the background color to match your design.
 */

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

/*
 * Remove the gap between images and the bottom of their containers: h5bp.com/i/440
 */

img {
    vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}

/* ==========================================================================
   Chrome Frame prompt
   ========================================================================== */

.chromeframe {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

@import "compass/css3";
@import "compass/css3/images";


// MEDIA QUERIES

@mixin breakpoint($point) {
  @if $point == mobile {
    @media (max-width: 768px)  { @content; }
  }
  @else if $point == large {
    @media (max-width: 992px) { @content; }
  }
  @else if $point == x-large {
    @media (min-width: 1024px) { @content; }
  }

}



html {
    
}

body {
    font-size: 14px;
    color: $grey2;
    padding-bottom: 0;
}


// GLOBAL


ul {
    list-style-type: none;
}
 a {
    color: $purple;
 }

 .dropdown {
    background-color: white;
    border-color: white;
    color: $grey;
 }

 .img-responsive {
    margin-left: auto;
    margin-right: auto;
 }

// TYPOGRAPHY

h1, h2 {
    font-family: 'Roboto Slab', serif;
    color: $grey2;
}

h3, h4 {
    font-family: 'Raleway', sans-serif;
}

h2 {
    font-size: 30px;
}

h4 {
    font-size: 18px;
    line-height: 28px;
}

p {
    font-family: 'Raleway', sans-serif;  
}


// BUTTONS

.btn-primary {
    background-color: $tiel;
    border: 2px solid $gold;
    color: white;
    width: 180px;
    padding: 6px 0;
    text-transform: capitalize;
    font-family: 'Raleway', sans-serif;
    font-size: 18px;
    line-height: 22px;
    @include breakpoint(mobile){
        width: 130px;
        margin-bottom: 10px;
        font-size: 16px;
    }
}

.btn-primary:hover {
    background-color: $gold;
    color: #fff;
    border: 2px solid $gold;
}

a.message-btn.btn {
    font-size: 14px;
    line-height: 26px;
}

.btn:disabled {
    border-color: $grey;
    color: $grey;
    background-color: white;
    opacity: .4;
}

// NAV BAR MAIN

.navbar-default {
    background-color: transparent;
    border: 0;
    font-family: 'Raleway', sans-serif;
    text-transform: capitalize;
    padding-left: 30px;
    z-index: 99;
    font-weight: 700;
    @include breakpoint(mobile){
        padding-left: 0;
        position: static;
    }
}

.navbar {
    border-radius: 0;
    z-index: 99999;
    @include breakpoint(mobile){
        background-color: $grey2;
    }

}

.navbar-default .navbar-nav>li>a {
    color: $grey2;
    @include breakpoint(mobile){
        color: white;
    }
}

.navbar-default .navbar-nav>li>a:hover {
    @include breakpoint(mobile){
        color: white;
    }
}

.navbar-nav.navbar-right:last-child {
    margin-right: 0;
}

.nav>li {
    @include breakpoint(mobile){
        text-align: right;
    }
}

.nav a {
    font-family: 'Roboto Slab', serif;
    font-weight: 400;
}

.navbar-default .navbar-nav>li>a:hover, .navbar-default .navbar-nav>li>a:focus {
    font-weight: 900;
}

.navbar-brand img {
    @include breakpoint(mobile){
        margin-top: -6px;
        display: inline-block;
    }
}


// HERO UNIT

.hero-container {
    position: relative;
    @include breakpoint(mobile){
        display: none;
    }
}

.hero-img {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 9999;
    height: 100%;
}

.carousel {
    margin-top: -70px;
}

.carousel-caption h1, .cta-container h1 {
    margin: 0;
    font-size: 32px;
    text-shadow: none;
}

.carousel-caption p {
    color: $grey2;
    text-shadow: none;
    font-size: 20px;
    font-family: 'Roboto Slab', serif;
    margin-top: 16px;
}

.carousel-caption {
    top: 20%;
    right: -300px;
}

.carousel-fade .carousel-inner .item {
  opacity: 0;
  -webkit-transition-property: opacity;
  transition-property: opacity;
}
.carousel-fade .carousel-inner .active {
  opacity: 1;
}
.carousel-fade .carousel-inner .active.left,
.carousel-fade .carousel-inner .active.right {
  left: 0;
  opacity: 0;
  z-index: 1;
}
.carousel-fade .carousel-inner .next.left,
.carousel-fade .carousel-inner .prev.right {
  opacity: 1;
}
.carousel-fade .carousel-control {
  z-index: 2;
}

.carousel,
.carousel-inner,
.carousel-inner .item {
  height: 100%;
}

.or {
    display: inline-block;
    margin-left: 4px;
    margin-right: 4px;
    color: $purple;
    text-shadow: none;
}

.carousel-inner>.item>img, .carousel-inner>.item>a>img {
    width: 100%;
}

.cta-container {
    position: absolute;
    top: 130px;
    right: 66px;
    z-index: 999;
    text-align: center;
    @include breakpoint(large){
        right: 30px;
    }
}

.cta-container p {
    margin-top: 60px;
    color: $grey2;
    text-shadow: none;
    font-size: 20px;
    font-family: 'Roboto Slab', serif;
}

.carousel-caption2 {
    position: absolute;
    top: 182px;
    right: 176px;
    z-index: 999;
    font-weight: 900;
    @include breakpoint(large){
        right: 140px;
    }
}

.carousel-caption2.office {
    right: 164px;
    @include breakpoint(large){
        right: 128px;
    }
}


// HERO MOBILE




.hero-container-mobile {
    display: none;
    text-align: center;
}

.hero-container-mobile {
    @include breakpoint(mobile){
        display: block;
    }
}

.hero-container-mobile h1 {
    font-size: 24px;
    margin-top: 0;
    margin-bottom: 4px;
}

.hero-place {
    font-weight: 900;
}

.hero-container-mobile p {
    margin-bottom: 0;
    margin-top: 6px;
}

// SECTIONS

section {
  padding: 100px 30px;
  text-align: center;  
}

section h2, .livewire-saves h2 {
    margin-top: 0;
    margin-bottom: 5px;
}

section h4 {
    margin-top: 20px;
}

h4.second-line {
    margin-top: 10px;
    margin-top: -10px;
}


// TALK PERSONAL

.talk-personal {
    background: url(../img/gridpaperbg.jpg) no-repeat center center; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}


// FP LIST

ul {
    padding: 0;
}

.fp-list {
    text-align: center;
}

.thumbnail {
    border: none;
    margin-bottom: 0;
}

.thumbnail .caption1, .thumbnail .caption2 {
    position: absolute;
    bottom: 4px;
    color: white;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
}

.fp-list h3 {
    font-family: 'Roboto Slab', serif;
    font-weight: 300;
    margin-bottom: 0;
    -moz-transition: all 1s linear;
    -webkit-transition: all 1s linear;
    transition: all 1s linear;
}

.fp-list h4 {
    margin-top: 4px;
    font-size: 14px;
    -moz-transition: all 1s linear;
    -webkit-transition: all 1s linear;
    transition: all 1s linear;
}

.fp-list h4, .fp-list h3 {
    text-shadow: 0 1px 8px rgba(0,0,0,.8);
}

.covered h4, .covered h3 {
    text-shadow: none;
    color: $gold;
}

img.profile-cover1, img.profile-cover2 {
    position: absolute;
    left: 0;
    right: 0;
    top: 4px;
    display: none;
}

img.profile-cover1.covered, img.profile-cover2.covered {
    display: inline-block;
}


// HOW TO LIVEWIRE & MAKES IT EASY


.how-to-livewire ul, .makes-it-easy ul {
    margin: 50px auto 0 auto;
    max-width: 1024px;
}

.how-to-livewire img {
    margin-bottom: 20px;
}

.how-to-livewire p {
    max-width: 240px;
    margin: 0 auto;
}

.makes-it-easy p {
    max-width: 260px;
    margin: 0 auto;
}

.how-to-livewire p, .makes-it-easy p {
    max-width: 240px;
    margin: 0 auto;
}

img.pens {
    margin-top: 53px;
}

img.glasses {
    margin-top: 52px;
}

.vc-ipad-bkg {
    background: url(../img/mobilefacetoface.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: 600px;
}

.makes-it-easy li h4, .how-to-livewire li h4 {
    font-weight: 700;
    font-size: 20px;
}

.makes-it-easy li {
    padding: 0 40px;
}

img.devices {
    margin-top: 60px;
    display: none;
    @include breakpoint(mobile){
        
    }
}

.devices-container {
    width: 704px;
    height: 330px;
    margin: 60px auto 0 auto;
    position: relative;
    @include breakpoint(mobile){
        width: 260px;
        height: 120px;
    }
}

.devices-container .device {
    position: absolute;
    margin: 0 auto;
    right: 0;
    left: 0;
    -moz-transition: all .6s ease-out;
    -webkit-transition: all .6s ease-out;
    transition: all .6s ease-out;
}

.device-computer {
    
}

.device-mobile {
    z-index: 9;
    bottom: 14px;
}

.device-ipad {
    bottom: 14px;
}

.device-moved .device-computer {
    left: -180px;
    @include breakpoint(mobile){
        left: -100px;
    }
}

.device-moved .device-ipad {
    right: -390px;
    @include breakpoint(mobile){
        right: -160px;
    }
}

.device-moved .device-mobile {
    right: -50px;
    @include breakpoint(mobile){
        right: -20px;
    }
}

.devices-container .device-computer {
    @include breakpoint(mobile){
        width: 80%;
    }
}

.devices-container .device-mobile {
    @include breakpoint(mobile){
        width: 14%;
    }
}

.devices-container .device-ipad {
    @include breakpoint(mobile){
        width: 50%;
    }
}


// SAVES AND FEES

.livewire-saves, .avg-tax-fees {
    height: 840px;
    text-align: center;
}

.livewire-saves {
    background-color: $grey2;
    color: #EFEFEF;
    padding: 240px 60px 0 60px;
}

.livewire-saves img {
    margin-bottom: 20px;
}

.livewire-saves h2 {
    color: #EFEFEF;
}

.livewire-saves p {
    line-height: 30px;
}

.avg-tax-fees {
    background-color: #EFEFEF;
    padding: 60px 50px 0 50px;
    color: #4F4F4F;
}

.avg-tax-fees img {
    
}

.press {
    margin: 40px auto 0 auto;
}

.chart-container {
    width: 480px;
    position: relative;
    margin: 40px auto 0 auto;
    overflow: hidden;
}

.chart-bkg {
    width: 480px;
    z-index: 9;
}

.bars {
    position: absolute;
    width: 466px;
    left: 7px;
    bottom: -9px;
    display: none;
}


// PEOPLE ARE TALKING 

.people-are-talking {
    background-color: $grey2;
}

.people-are-talking h2, .people-are-talking h6 {
    color: $gold;
}

.people-are-talking h6 {
    position: absolute;
    bottom: 10px;
    left: 0;
    right: 0;
}

.people-are-talking h2 {
    margin-bottom: 60px;
}

.people-are-talking a {
    color: #5EA9DD;
}

.twitter-icon, .twitter-link {
    display: block;
    margin: 0 auto;
}

.twitter-icon {
    margin-bottom: 4px;
}

.tweet-container {
    background-color: white;
    @include border-radius(4px);
    border: 2px solid $gold;
    max-width: 340px;
    padding: 30px 30px 10px 30px;
    margin: 0 auto;
    margin-top: 20px;
    margin-bottom: 20px;
    height: 360px;
    position: relative;
    overflow: hidden;
    @include breakpoint(x-large){
        height: 330px;
    }
}

.people-are-talking h5 {
    font-size: 18px;
    margin-top: 20px;
    position: absolute;
    bottom: 36px;
    left: 0;
    right: 0;
}

.people-are-talking h6 {
    font-size: 14px;
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
}

.tweet-container p {
    line-height: 26px;
    @include breakpoint(x-large){
        line-height: 32px;
    }
}

  .twitter-user-img {
    @include border-radius(50%);
    border: 2px solid $gold;
  }

  .tweet-txt {
    display: none;
    height: 80%;
  }

// WHERE IS LIVEWIRE

.where-is .table {
    max-width: 640px;
    margin: 70px auto 0 auto;
    font-size: 18px;
}

.table>thead>tr>th, .table>tbody>tr>th, .table>tfoot>tr>th, .table>thead>tr>td, .table>tbody>tr>td, .table>tfoot>tr>td {
    border-top: none;
    width: 200px;
}

// STATIC HEADER 

.header-fixed {
    background-color: #EFEFEF;
    @include breakpoint(mobile){
        padding-bottom: 20px;
    }
}

.header-fixed h2 {
    display: inline-block;
    margin: 0;
    line-height: 80px;
    margin-right: 30px;
    @include breakpoint(mobile){
        display: block;
        line-height: 40px;
        font-size: 18px;
    }
}

.header-fixed a {
    margin-top: -14px;
    margin-right: 20px;
    @include breakpoint(mobile){
        margin: 0 auto;

    }
}

.header-fixed-container {
    text-align: center;
}

.fixed {
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 99;
    @include breakpoint(mobile){

    }
}


// FOOTER

footer {
    background-color: $grey2;
    color: white;
    text-align: center;
    padding-top: 30px;
    font-family: 'Raleway', sans-serif;
}

footer a, footer a:hover {
    color: white;
}

footer .table {
    width: 50%;
    margin: 20px auto;
}

footer .table>thead>tr>th, footer .table>thead>tr>td {
    height: 0px;
}

/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Image replacement
 */

.ir {
    background-color: transparent;
    border: 0;
    overflow: hidden;
    /* IE 6/7 fallback */
    *text-indent: -9999px;
}

.ir:before {
    content: "";
    display: block;
    width: 0;
    height: 150%;
}

/*
 * Hide from both screenreaders and browsers: h5bp.com/u
 */

.hidden {
    display: none !important;
    visibility: hidden;
}

/*
 * Hide only visually, but have it available for screenreaders: h5bp.com/v
 */

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

/*
 * Extends the .visuallyhidden class to allow the element to be focusable
 * when navigated to via the keyboard: h5bp.com/p
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

/*
 * Hide visually and from screenreaders, but maintain layout
 */

.invisible {
    visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

/*
 * For IE 6/7 only
 * Include this rule to trigger hasLayout and contain floats.
 */

.clearfix {
    *zoom: 1;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
    /* Style adjustments for viewports that meet the condition */
}

@media print,
       (-o-min-device-pixel-ratio: 5/4),
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 120dpi) {
    /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid required HTTP connection: h5bp.com/r
   ========================================================================== */

@media print {
    * {
        background: transparent !important;
        color: #000 !important; /* Black prints faster: h5bp.com/s */
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links for images, or javascript/internal links
     */

    .ir a:after,
    a[href^="javascript:"]:after,
    a[href^="#"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    thead {
        display: table-header-group; /* h5bp.com/t */
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    @page {
        margin: 0.5cm;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}
