/*
 * HTML5 Boilerplate
 *
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

// COLORS

$dark-tiel: #005f6b;
$tiel: #008b9d;
$tiel2: #00b3cb;
$bright-tiel: #00defb;
$orange: #ff7a00;
$grey: #999;

html,
button,
input,
select,
textarea {
    color: $tiel;
}

html,body
{
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden; 
}

body {
    line-height: 2;
    color: $tiel;    
}



/*
 * Remove text-shadow in selection highlight: h5bp.com/i
 * These selection rule sets have to be separate.
 * Customize the background color to match your design.
 */

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

/*
 * Remove the gap between images and the bottom of their containers: h5bp.com/i/440
 */

img {
    vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}

/* ==========================================================================
   Chrome Frame prompt
   ========================================================================== */

.chromeframe {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

@import "compass/css3";
@import "compass/css3/images";


// MEDIA QUERIES

@mixin breakpoint($point) {
  @if $point == mobile {
    @media (max-width: 768px)  { @content; }
  }
  @else if $point == large {
    @media (max-width: 992px) { @content; }
  }
  @else if $point == x-large {
    @media (min-width: 1024px) { @content; }
  }

}



html {
    background-image:url('../img/bkg2.jpg');
    
}

body {
    background-image:url('../img/bkg2.jpg');
    font-size: 14px;
    color: $tiel;
}


// GLOBAL

.container {
    max-width: 940px;
}

.main-body {
    background-color: white;
    @include border-radius(8px);
    border: 1px solid #ddd;
    padding: 50px;
}

ul {
    list-style-type: none;
}
 a {
    color: $tiel2;
 }

// TYPOGRAPHY

h1, h2 {
    font-family: 'Roboto Slab', serif;
}

h3 {
    font-family: 'Roboto', sans-serif;
}


// BUTTONS

.btn {
    @include border-radius(50px);
    text-transform: uppercase;
    font-weight: 900;
}

.btn-primary {
    background-color: #fff;
    @include background-image(linear-gradient(bottom, rgba(0,0,0,.03) 0%, rgba(255,255,255,.03) 100%));
    border: 1px solid $bright-tiel;
    color: $bright-tiel;
}

.btn-primary:hover {
    background-color: $bright-tiel;
    @include background-image(linear-gradient(bottom, rgba(0,0,0,.03) 0%, rgba(255,255,255,.03) 100%));
    border: 1px solid $bright-tiel;
    color: #fff;
}

a.message-btn.btn {
    font-size: 14px;
    line-height: 26px;
}

.btn:disabled {
    border-color: $grey;
    color: $grey;
    background-color: white;
    opacity: .4;
}

// NAV BAR MAIN

.navbar-default {
    background-color: transparent;
    border: 0;
    font-family: 'Roboto Slab', serif;
    text-transform: uppercase;
    padding-left: 30px;
    @include breakpoint(mobile){
        padding-left: 0;
    }
}

.navbar {
    margin: 10px 0;
    border-radius: 0;
}

.navbar-default .navbar-nav>li>a {
    color: $tiel;
}

.navbar-nav.navbar-right:last-child {
    margin-right: 0;
}

.nav>li {
    @include breakpoint(mobile){
        text-align: right;
    }
}

// NAV BAR VC

.container-fluid.vc-screen {
    padding: 0;
}

.vc-screen .navbar-default {
    background-color: white;
    border: 1px solid #ddd;
    margin: 0;
    padding: 10px 0 10px 20px;
}

.vc-screen .navbar-header {
    line-height: 62px;
}

.vc-screen .navbar-brand {
    margin-top: 4px;
}

.vc-nav-btn {
    width: 62px;
    height: 62px;
    margin-left: 30px;
    @include breakpoint(large){
        margin-left: 20px;
    }
}

.video-on {
    background: url("../img/video-on.png") 0 center no-repeat;
}

.video-off {
    background: url("../img/video-off.png") 0 center no-repeat;
}

.mic-on {
    background: url("../img/mic-on.png") 0 center no-repeat;
}

.mic-off {
    background: url("../img/mic-off.png") 0 center no-repeat;
}

.screen-expand {
    background: url("../img/screen-expand.png") 0 center no-repeat;
}

.screen-shrink {
    background: url("../img/screen-shrink.png") 0 center no-repeat;
}

.end-call{
    background: url("../img/end-call.png") 0 center no-repeat;
}

.navbar-default .navbar-text {
    color: $tiel;
    font-size: 1.8em;
    margin-top: 0;
    margin-bottom: 0;
    @include breakpoint(large){
        font-size: 1.5em;
    }
}

.vc-with.navbar-text {
    margin-left: 0px;
    margin-right: -2px;
    text-transform: lowercase;
    font-size: 16px;
    font-style: italic;
    font-weight: 300;
}

.vc-name {
    text-transform: capitalize;
}

.vc-with, .vc-name {
    @include breakpoint(mobile){
        display: none;
    }
}

.vc-screen .nav li {
    @include breakpoint(mobile){
        display: inline-block;
    }
}

.vc-screen ul.nav {
    @include breakpoint(mobile){
        text-align: center;
    }
}


// USER STYLES

.user-img {
    width: 66px;
    height: 66px;
    border: 1px solid #008b9d;
    @include border-radius(50px);
    @include breakpoint(mobile){
        width: 32px;
        height: 32px;
    }
}





// DASHBOARD

.dashboard-container {
    padding-top: 16px;
}

.dashboard-module {
    margin-bottom: 50px;
}

.dashboard-module h3, .vc-screen h3 {
    font-family: 'Roboto Slab', serif;
    color: $tiel;
    text-transform: uppercase;
    font-size: 1.3em;
    font-weight: bold;
    padding-left: 44px;
    line-height: 40px;
    @include breakpoint(mobile){
        line-height: 30px;
    }
}

h3.appt-header {
    background: url("../img/calendar-icon.png") 0 center no-repeat;
}

h3.hired-header {
    background: url("../img/user-list-icon.png") 0 center no-repeat;
}

h3.docs-header {
    background: url("../img/docs-icon.png") 0 center no-repeat;
}

h3.messages-header {
    background: url("../img/messages-icon.png") 0 center no-repeat;
}

.doc-count {
    margin-left: 30px;
    position: relative;
    top: -44px;
    left: 160px;
    @include breakpoint(mobile){
        display: block;
        margin: -6px 0 10px 48px;
        position: static;
    }

}

.dashboard-module ul {
    padding: 0;
}

.appt-module .row,  .hired-module .row, .doc-module .row, .messages-module .row {
    line-height: 86px;
    margin-bottom: 20px;
    border-bottom: 1px solid #eee;
    padding-bottom: 20px; 
}

.appt-module .row, .hired-module .row {
    @include breakpoint(mobile){
        line-height: 56px;
    }
}

.messages-module .row {
    @include breakpoint(mobile){
        line-height: 0;
    }
}

.dashboard-module .user-img {
    margin-right: 10px;
}

.doc-module .user-img {
    margin-right: 0;
}

.dashboard-module header {
    border-bottom: 1px solid #eee;
    margin-bottom: 20px;
}

.appt-time, .appt-channel, .status {
    padding-left: 44px;
    display: inline-block;
}

.appt-time {
    background: url("../img/clock-icon.png") 0 center no-repeat;
}

.appt-channel.phone {
    background: url("../img/phone-icon.png") 0 center no-repeat;
}

.appt-channel.video {
    background: url("../img/video-icon.png") 0 center no-repeat;
}

.appt-channel.phone, .appt-channel.video {
    @include breakpoint(mobile){
        margin-left: -2px;
    }
}

.status {
    background: url("../img/status-icon.png") 0 center no-repeat;
 
}

.dashboard-container .btn-primary {
    width: 120px;
    height: 40px;
}

.dashboard-module .btn-primary {
    margin-top: 22px;
    @include breakpoint(large){
        float: left!important;
        margin-top: 4px;
    }
}

a.reschedule, a.cancel, a.provider-phone {
    position: absolute;
    top: 40px;
    font-size: 10px;
    @include breakpoint(large){
        top: -20px;
        @include breakpoint(mobile){
        top: -6px;
        }
    }
}

a.reschedule {
    right: 80px;
    @include breakpoint(large){
        left: 146px;
    }
}

a.cancel {
    right: 22px;
    @include breakpoint(large){
        left: 206px;
    }
}

a.provider-phone {
    right: 44px;
    @include breakpoint(large){
        left: 146px;
    }
}

.doc-name {
    display: block;
    line-height: 18px;
    color: #999;
}

.doc-module .row {
    text-align: center;
}

.doc-module .user-img {
    @include breakpoint(mobile){
        width: 66px;
        height: 66px;
    }
}

.doc-not-uploaded, .doc-uploaded {
    width: 62px;
    height: 62px;
    display: block;
    margin: 0 auto;
    margin-top: 12px;
    margin-bottom: 10px;
}

.doc-not-uploaded {
    background: url("../img/doc-not-uploaded.png") 0 center no-repeat;
}

.doc-uploaded {
    background: url("../img/doc-uploaded.png") 0 center no-repeat;
}

.doc-uploaded + .doc-name {
    color: $tiel;
}

.add-new-file {
    margin-top: -4px;
    display: inline-block;
}

.message-content-container {
    line-height: 1.5em;
    padding-top: 34px;
    padding-right: 20px;
    overflow: hidden;
    max-height: 100px;
    @include breakpoint(mobile){
        padding-top: 10px;
    }

}



.message-time {
    color: $grey;
    @include breakpoint(mobile){
        float: left!important;
        margin-top: 10px;
    }
}

.message-unread {
    font-weight: 900;
}


// VC

.messages-container {
    background-color: white;
    border: 1px solid #ddd;
    border-top: 0;
    padding: 0;
} 

.video-container {
    text-align: center;
    padding-top: 20px;
}

.messages-container header {
    border-bottom: 1px solid #ddd;
}

.messages-container h3.messages-header {
    margin-left: 20px;
    margin-top: 10px;
    padding-left: 50px;
    @include breakpoint(large){
        padding-top: 10px;
    }
}

.message-sender {
    font-weight: 900;
}

.chat-message p {
    margin: 10px 0 0 0;
    line-height: 22px;
}

p.message {
    margin-top: 4px;
}

.chat-body ul {
    padding-left: 0;
}

li.chat-message {
    padding: 0 10px 10px 26px;
    border-bottom: 1px solid #ddd;
}

.chat-input {
    padding: 2px 24px 10px 24px;
    line-height: 1.5em;
}

.chat-input textarea {
}


// SCHEDULING

.scheduling-container  {
    text-align: center;
}

.headline-emp {
    color: $orange;
}

.scheduling-container {
    @include breakpoint(mobile){
        padding: 16px;
    }
}

.scheduling-container  h1 {
    margin-top: 0;
    @include breakpoint(mobile){
        font-size: 2em;
    }
}

section.greeting-container, section.meet-by-container {
    border-bottom: 1px solid #ddd;
    padding-bottom: 10px;
}

.scheduling-container .btn-primary {
    margin-bottom: 20px;
}

.meet-by {
    text-transform: uppercase;
    margin-right: 20px;
    font-weight: 900;
}

.meet-by-container, .scheduling-ui-container {
    padding-top: 20px;
    padding-bottom: 10px;
}

.time-zone-btn {
    width: 85px;
    background-color: white;
    border-color: white;
    font-size: 10px;
    text-transform: uppercase;
}

.table>tbody>tr>th.time-zone-cell {
    padding-left: 0;
    padding-right: 0;
}

.scheduling-table th {
    width: 60px;
    text-align: center;
}

.scheduling-table td {
    background-color: #ffebd9;
}

.scheduling-table .highlighted {
    background-color: $orange;
}

.scheduling-table .highlighted.selected {
    background-color: $bright-tiel;
}

.table>tbody>tr>td, .table>tbody>tr>th {
    padding: 12px;
}

.meet-by-container input[type="radio"] {
    display:none;
}
.meet-by-container input[type="radio"] + label span {
    display:inline-block;
    width:22px;
    height:22px;
    border: 1px solid $tiel;
    border-radius: 50px;
    cursor:pointer;
    vertical-align:middle;
    margin-top: -4px;
}
.meet-by-container input[type="radio"]:checked + label span {
    background-image: url('../img/check.png');
    background-repeat: no-repeat;
    background-position-y: 3px;
    background-position-x: 2px;
}

.meet-by-container span {
    margin-right: 10px;
}

.meet-by-container label {
    margin-right: 20px;
}


// PROFILE

.profile-img {
    width: 200px;
    height: 200px;
    border: 2px solid $bright-tiel;
    @include border-radius(100%);
    @include breakpoint(mobile){
        width: 100px;
        height: 100px;
    }
}

.profile-container {
    color: $tiel2;
    padding-top: 0;
    @include breakpoint(mobile){
        padding-left: 20px;
        padding-right: 20px;
    }
}

.account-header {
    background-image: url('../img/acct-bkg.png');
    background-size: cover;
    width: 100%;
    text-align: center;
    padding-top: 30px;
}

.btn-lg {
    background-color: $bright-tiel;
    color: white;
    padding: 18px 22px;
}

.account-header .btn-lg {
    position: relative;
    bottom: -28px;
    margin-top: -18px;
}

.profile-name {
    color: $bright-tiel;
    text-transform: capitalize;
    font-weight: 300;
    font-size: 24px;
}

.where-how-container {
    height: 100px;
    color: $tiel2;
}

.where-how-container ul {
    line-height: 120px;
    padding: 0;
}

.where-how-container .location {
    text-align: right;
}

.where-how-container .location span {
    padding: 4px 50px 6px 24px;
    background: url("../img/map.png") 0 center no-repeat;
    @include breakpoint(mobile){
        padding-right: 20px;
    }
}

.where-how-container .available-by {
    padding-left: 40px;
    @include breakpoint(mobile){
        padding: 0;
    }
}

.available-by img {
    margin-left: 6px;
    display: none;
}

.available-by img.by-phone {
    display: inline;
}

.available-by img.by-video {
    display: inline;
}

.available-by img.by-in-person {
    display: inline;
}

.profile-module {
    border-bottom: 1px solid #ddd;
    padding: 20px 0;
    text-align: center;
}

.profile-module h2 {
    text-transform: uppercase;
    font-size: 24px;
    margin-bottom: 20px;
}

.cred-tag {
    border: 1px solid #bbb;
    @include border-radius(4px);
    background-color: #fbfbfb;
    padding: 0 8px;
    margin: 8px;
    display: inline-block;
}

// REVIEWS

.review-module {
    padding-left: 30px;
    padding-right: 30px;
}

.review-container {
    text-align: left;
    position: relative;
    padding: 0;
}

.review-1 {
    border-right: 1px solid #ddd;
    border-top: 1px solid #ddd;
    padding-right: 40px;
    padding-bottom: 50px;
    margin-top: 20px;
    @include breakpoint(mobile){
        border-right: 0px;
        border-top: 0px;
        padding-right: 0;
    }
}

.review-2 {
    padding-left: 40px;
    margin-top: 70px;
    @include breakpoint(mobile){
        padding-left: 0;
        margin-top: -40px;
    }
}

.reviewer-name {
    color: $orange;
    text-transform: uppercase;
    font-weight: 900;
    margin-bottom: 0;
    background-color: white;
    margin-top: -15px;
    display: table;
}

.review-1 .reviewer-name {
    padding-right: 20px;
}

.border-top {
    border-top: 1px solid #ddd;
    position: absolute;
    top: 0;
    left: 0;
    width: 32px;
    @include breakpoint(mobile){
        display: none;
    }
}

.review-circle {
    width: 16px;
    height: 16px;
    border: 2px solid #00b3cb;
    @include border-radius(50%);
    background-color: #fff;
    display: inline-block;
    position: absolute;
    top: -8px;
    @include breakpoint(mobile){
        display: none;
    }
}

.review-1 .review-circle {
    right: -8px;
}

.review-2 .review-circle {
    left: -8px;
}

// BIO

.bio-module .profile-img {
    width: 100px;
    height: 100px;
    margin-bottom: 6px;
}

.bio {
    text-align: left;
    max-width: 580px;
    margin: 10px auto;
    @include breakpoint(large){
        width: 90%;
    }
}

// QA MODULE

.qa-module a {
    display: block;
    font-weight: 900;
    max-width: 580px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 14px;
    text-align: left;
    color: $tiel2;
}

h4 {
    color: $orange;
    margin-top: 30px;
}

p.date {
    color: $grey;
    margin-bottom: 10px;
}

p.address {
    color: $grey;
    margin: 0;
}

.contact-module {
    position: relative;
}

.contact-cover {
    position: absolute;
    height: 50%;
    width: 300px;
    left: 32%;
    z-index: 99;
    background-color: white;
}

.contact-cover button {
    margin-top: 20px;
}


/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Image replacement
 */

.ir {
    background-color: transparent;
    border: 0;
    overflow: hidden;
    /* IE 6/7 fallback */
    *text-indent: -9999px;
}

.ir:before {
    content: "";
    display: block;
    width: 0;
    height: 150%;
}

/*
 * Hide from both screenreaders and browsers: h5bp.com/u
 */

.hidden {
    display: none !important;
    visibility: hidden;
}

/*
 * Hide only visually, but have it available for screenreaders: h5bp.com/v
 */

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

/*
 * Extends the .visuallyhidden class to allow the element to be focusable
 * when navigated to via the keyboard: h5bp.com/p
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

/*
 * Hide visually and from screenreaders, but maintain layout
 */

.invisible {
    visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

/*
 * For IE 6/7 only
 * Include this rule to trigger hasLayout and contain floats.
 */

.clearfix {
    *zoom: 1;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
    /* Style adjustments for viewports that meet the condition */
}

@media print,
       (-o-min-device-pixel-ratio: 5/4),
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 120dpi) {
    /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid required HTTP connection: h5bp.com/r
   ========================================================================== */

@media print {
    * {
        background: transparent !important;
        color: #000 !important; /* Black prints faster: h5bp.com/s */
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links for images, or javascript/internal links
     */

    .ir a:after,
    a[href^="javascript:"]:after,
    a[href^="#"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    thead {
        display: table-header-group; /* h5bp.com/t */
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    @page {
        margin: 0.5cm;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}
