/*
 * HTML5 Boilerplate
 *
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */
/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */
/* line 17, ../../sass/main.scss */
html,
button,
input,
select,
textarea {
  color: #222;
}

/* line 22, ../../sass/main.scss */
html, body {
  width: 100%;
  height: 100%;
  margin: 0px;
  padding: 0px;
  overflow-x: hidden;
}

/* line 30, ../../sass/main.scss */
body {
  font-size: 1.5em;
  line-height: 2;
  color: #999;
}

/*
 * Remove text-shadow in selection highlight: h5bp.com/i
 * These selection rule sets have to be separate.
 * Customize the background color to match your design.
 */
/* line 44, ../../sass/main.scss */
::-moz-selection {
  background: #b3d4fc;
  text-shadow: none;
}

/* line 49, ../../sass/main.scss */
::selection {
  background: #b3d4fc;
  text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */
/* line 58, ../../sass/main.scss */
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}

/*
 * Remove the gap between images and the bottom of their containers: h5bp.com/i/440
 */
/* line 71, ../../sass/main.scss */
img {
  vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */
/* line 79, ../../sass/main.scss */
fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */
/* line 89, ../../sass/main.scss */
textarea {
  resize: vertical;
}

/* ==========================================================================
   Chrome Frame prompt
   ========================================================================== */
/* line 97, ../../sass/main.scss */
.chromeframe {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */
/* line 127, ../../sass/main.scss */
html {
  background-image: url("../img/bkg.jpg");
  font-size: 14px;
}

/* line 132, ../../sass/main.scss */
body {
  background-image: url("../img/bkg.jpg");
}

/* line 147, ../../sass/main.scss */
h1, h2 {
  font-family: 'Roboto Slab', serif;
}

/* line 151, ../../sass/main.scss */
h3 {
  font-family: 'Roboto', sans-serif;
}

/* line 155, ../../sass/main.scss */
header {
  padding-top: 160px;
  padding-bottom: 190px;
}

/* line 165, ../../sass/main.scss */
.header-bkg {
  background: url(../img/bkg-header.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

/* line 173, ../../sass/main.scss */
#vid-bkg {
  height: 600px;
}

/* line 177, ../../sass/main.scss */
header img {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

/* line 183, ../../sass/main.scss */
.logo {
  margin-bottom: 20px;
}
@media (max-width: 767px) {
  /* line 183, ../../sass/main.scss */
  .logo {
    width: 90%;
  }
}

/* line 190, ../../sass/main.scss */
.arrow {
  margin-top: 230px;
}

/* line 194, ../../sass/main.scss */
.tagline {
  -webkit-animation-duration: 3.6s;
  margin-bottom: 20px;
}
@media (max-width: 767px) {
  /* line 194, ../../sass/main.scss */
  .tagline {
    width: 90%;
  }
}

/* line 202, ../../sass/main.scss */
.mail {
  -webkit-animation-delay: 1.5s;
  position: fixed;
  top: 20px;
  right: 40px;
  -webkit-box-shadow: 0 0 2px rgba(0, 0, 0, 0.4);
  -moz-box-shadow: 0 0 2px rgba(0, 0, 0, 0.4);
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.4);
}
@media (max-width: 767px) {
  /* line 202, ../../sass/main.scss */
  .mail {
    right: 20px;
  }
}

/* line 213, ../../sass/main.scss */
.quote-container {
  text-align: center;
  padding-top: 70px;
  padding-bottom: 70px;
  background: url(../img/bono-bkg.jpg) no-repeat center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

/* line 224, ../../sass/main.scss */
.quote-container h2 {
  color: #ccc;
  font-size: 36px;
  text-shadow: 0 1px 2px black;
  margin-top: 14px;
  opacity: 0;
}
@media (max-width: 767px) {
  /* line 224, ../../sass/main.scss */
  .quote-container h2 {
    font-size: 24px;
    width: 90%;
  }
}

/* line 236, ../../sass/main.scss */
h2.quote-src {
  font-style: italic;
  opacity: 0;
}

/* line 241, ../../sass/main.scss */
.quote-container img {
  margin-top: 12px;
  opacity: 0;
}

/* line 246, ../../sass/main.scss */
li {
  list-style: none;
}

/* line 250, ../../sass/main.scss */
ul.work-group {
  padding: 0;
}

/* line 254, ../../sass/main.scss */
.mail {
  -webkit-transition: all .2s ease-in-out;
}

/* line 255, ../../sass/main.scss */
.mail:hover {
  -webkit-transform: scale(1.3);
}

/* line 261, ../../sass/main.scss */
#work-container {
  padding-top: 30px;
}

/* line 265, ../../sass/main.scss */
.work-group {
  margin: 0 auto;
}

/* line 269, ../../sass/main.scss */
#work-container .item1 {
  margin-bottom: 30px;
}

/* line 273, ../../sass/main.scss */
.work-group img {
  -webkit-box-shadow: 0 0 6px rgba(0, 0, 0, 0.4);
  -moz-box-shadow: 0 0 6px rgba(0, 0, 0, 0.4);
  box-shadow: 0 0 6px rgba(0, 0, 0, 0.4);
}

/* line 279, ../../sass/main.scss */
footer {
  margin-bottom: 40px;
}

/* line 283, ../../sass/main.scss */
footer h3 {
  text-align: center;
}

/* ==========================================================================
   Helper classes
   ========================================================================== */
/*
 * Image replacement
 */
/* line 297, ../../sass/main.scss */
.ir {
  background-color: transparent;
  border: 0;
  overflow: hidden;
  /* IE 6/7 fallback */
  *text-indent: -9999px;
}

/* line 305, ../../sass/main.scss */
.ir:before {
  content: "";
  display: block;
  width: 0;
  height: 150%;
}

/*
 * Hide from both screenreaders and browsers: h5bp.com/u
 */
/* line 316, ../../sass/main.scss */
.hidden {
  display: none !important;
  visibility: hidden;
}

/*
 * Hide only visually, but have it available for screenreaders: h5bp.com/v
 */
/* line 325, ../../sass/main.scss */
.visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

/*
 * Extends the .visuallyhidden class to allow the element to be focusable
 * when navigated to via the keyboard: h5bp.com/p
 */
/* line 342, ../../sass/main.scss */
.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  width: auto;
}

/*
 * Hide visually and from screenreaders, but maintain layout
 */
/* line 355, ../../sass/main.scss */
.invisible {
  visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */
/* line 372, ../../sass/main.scss */
.clearfix:before,
.clearfix:after {
  content: " ";
  /* 1 */
  display: table;
  /* 2 */
}

/* line 377, ../../sass/main.scss */
.clearfix:after {
  clear: both;
}

/*
 * For IE 6/7 only
 * Include this rule to trigger hasLayout and contain floats.
 */
/* line 386, ../../sass/main.scss */
.clearfix {
  *zoom: 1;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */
@media only screen and (min-width: 35em) {
  /* Style adjustments for viewports that meet the condition */
}
@media print, (-o-min-device-pixel-ratio: 5 / 4), (-webkit-min-device-pixel-ratio: 1.25), (min-resolution: 120dpi) {
  /* Style adjustments for high resolution devices */
}
/* ==========================================================================
   Print styles.
   Inlined to avoid required HTTP connection: h5bp.com/r
   ========================================================================== */
@media print {
  /* line 413, ../../sass/main.scss */
  * {
    background: transparent !important;
    color: #000 !important;
    /* Black prints faster: h5bp.com/s */
    box-shadow: none !important;
    text-shadow: none !important;
  }

  /* line 421, ../../sass/main.scss */
  a,
  a:visited {
    text-decoration: underline;
  }

  /* line 425, ../../sass/main.scss */
  a[href]:after {
    content: " (" attr(href) ")";
  }

  /* line 429, ../../sass/main.scss */
  abbr[title]:after {
    content: " (" attr(title) ")";
  }

  /*
   * Don't show links for images, or javascript/internal links
   */
  /* line 439, ../../sass/main.scss */
  .ir a:after,
  a[href^="javascript:"]:after,
  a[href^="#"]:after {
    content: "";
  }

  /* line 444, ../../sass/main.scss */
  pre,
  blockquote {
    border: 1px solid #999;
    page-break-inside: avoid;
  }

  /* line 449, ../../sass/main.scss */
  thead {
    display: table-header-group;
    /* h5bp.com/t */
  }

  /* line 454, ../../sass/main.scss */
  tr,
  img {
    page-break-inside: avoid;
  }

  /* line 458, ../../sass/main.scss */
  img {
    max-width: 100% !important;
  }

  @page {
    margin: 0.5cm;
}

  /* line 468, ../../sass/main.scss */
  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3;
  }

  /* line 474, ../../sass/main.scss */
  h2,
  h3 {
    page-break-after: avoid;
  }
}
