/*
 * HTML5 Boilerplate
 *
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */
/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */
/* line 29, ../../sass/main2.scss */
html,
button,
input,
select,
textarea {
  color: #12bfc5;
}

/* line 34, ../../sass/main2.scss */
html, body {
  width: 100%;
  margin: 0px;
  padding: 0px;
  overflow-x: hidden;
}

/* line 41, ../../sass/main2.scss */
body {
  line-height: 2;
}

/*
 * Remove text-shadow in selection highlight: h5bp.com/i
 * These selection rule sets have to be separate.
 * Customize the background color to match your design.
 */
/* line 53, ../../sass/main2.scss */
::-moz-selection {
  background: #b3d4fc;
  text-shadow: none;
}

/* line 58, ../../sass/main2.scss */
::selection {
  background: #b3d4fc;
  text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */
/* line 67, ../../sass/main2.scss */
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}

/*
 * Remove the gap between images and the bottom of their containers: h5bp.com/i/440
 */
/* line 80, ../../sass/main2.scss */
img {
  vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */
/* line 88, ../../sass/main2.scss */
fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */
/* line 98, ../../sass/main2.scss */
textarea {
  resize: vertical;
}

/* ==========================================================================
   Chrome Frame prompt
   ========================================================================== */
/* line 106, ../../sass/main2.scss */
.chromeframe {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */
/* line 142, ../../sass/main2.scss */
body {
  font-size: 14px;
  color: #454c64;
  padding-bottom: 0;
}

/* line 152, ../../sass/main2.scss */
ul {
  list-style-type: none;
}

/* line 155, ../../sass/main2.scss */
a {
  color: #252968;
}

/* line 159, ../../sass/main2.scss */
.dropdown {
  background-color: white;
  border-color: white;
  color: #595959;
}

/* line 165, ../../sass/main2.scss */
.img-responsive {
  margin-left: auto;
  margin-right: auto;
}

/* line 172, ../../sass/main2.scss */
h1, h2 {
  font-family: 'Roboto Slab', serif;
  color: #454c64;
}

/* line 177, ../../sass/main2.scss */
h3, h4 {
  font-family: 'Raleway', sans-serif;
}

/* line 181, ../../sass/main2.scss */
h2 {
  font-size: 30px;
}

/* line 185, ../../sass/main2.scss */
h4 {
  font-size: 18px;
  line-height: 28px;
}

/* line 190, ../../sass/main2.scss */
p {
  font-family: 'Raleway', sans-serif;
}

/* line 197, ../../sass/main2.scss */
.btn-primary {
  background-color: #12bfc5;
  border: 2px solid #c0a888;
  color: white;
  width: 180px;
  padding: 6px 0;
  text-transform: capitalize;
  font-family: 'Raleway', sans-serif;
  font-size: 18px;
  line-height: 22px;
}
@media (max-width: 768px) {
  /* line 197, ../../sass/main2.scss */
  .btn-primary {
    width: 130px;
    margin-bottom: 10px;
    font-size: 16px;
  }
}

/* line 214, ../../sass/main2.scss */
.btn-primary:hover {
  background-color: #c0a888;
  color: #fff;
  border: 2px solid #c0a888;
}

/* line 220, ../../sass/main2.scss */
a.message-btn.btn {
  font-size: 14px;
  line-height: 26px;
}

/* line 225, ../../sass/main2.scss */
.btn:disabled {
  border-color: #595959;
  color: #595959;
  background-color: white;
  opacity: .4;
}

/* line 234, ../../sass/main2.scss */
.navbar-default {
  background-color: transparent;
  border: 0;
  font-family: 'Raleway', sans-serif;
  text-transform: capitalize;
  padding-left: 30px;
  z-index: 99;
  font-weight: 700;
}
@media (max-width: 768px) {
  /* line 234, ../../sass/main2.scss */
  .navbar-default {
    padding-left: 0;
    position: static;
  }
}

/* line 248, ../../sass/main2.scss */
.navbar {
  border-radius: 0;
  z-index: 99999;
}
@media (max-width: 768px) {
  /* line 248, ../../sass/main2.scss */
  .navbar {
    background-color: #454c64;
  }
}

/* line 257, ../../sass/main2.scss */
.navbar-default .navbar-nav > li > a {
  color: #454c64;
}
@media (max-width: 768px) {
  /* line 257, ../../sass/main2.scss */
  .navbar-default .navbar-nav > li > a {
    color: white;
  }
}

@media (max-width: 768px) {
  /* line 264, ../../sass/main2.scss */
  .navbar-default .navbar-nav > li > a:hover {
    color: white;
  }
}

/* line 270, ../../sass/main2.scss */
.navbar-nav.navbar-right:last-child {
  margin-right: 0;
}

@media (max-width: 768px) {
  /* line 274, ../../sass/main2.scss */
  .nav > li {
    text-align: right;
  }
}

/* line 280, ../../sass/main2.scss */
.nav a {
  font-family: 'Roboto Slab', serif;
  font-weight: 400;
}

/* line 285, ../../sass/main2.scss */
.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
  font-weight: 900;
}

@media (max-width: 768px) {
  /* line 289, ../../sass/main2.scss */
  .navbar-brand img {
    margin-top: -6px;
    display: inline-block;
  }
}

/* line 299, ../../sass/main2.scss */
.hero-container {
  position: relative;
}
@media (max-width: 768px) {
  /* line 299, ../../sass/main2.scss */
  .hero-container {
    display: none;
  }
}

/* line 306, ../../sass/main2.scss */
.hero-img {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 9999;
  height: 100%;
}

/* line 314, ../../sass/main2.scss */
.carousel {
  margin-top: -70px;
}

/* line 318, ../../sass/main2.scss */
.carousel-caption h1, .cta-container h1 {
  margin: 0;
  font-size: 32px;
  text-shadow: none;
}

/* line 324, ../../sass/main2.scss */
.carousel-caption p {
  color: #454c64;
  text-shadow: none;
  font-size: 20px;
  font-family: 'Roboto Slab', serif;
  margin-top: 16px;
}

/* line 332, ../../sass/main2.scss */
.carousel-caption {
  top: 20%;
  right: -300px;
}

/* line 337, ../../sass/main2.scss */
.carousel-fade .carousel-inner .item {
  opacity: 0;
  -webkit-transition-property: opacity;
  transition-property: opacity;
}

/* line 342, ../../sass/main2.scss */
.carousel-fade .carousel-inner .active {
  opacity: 1;
}

/* line 346, ../../sass/main2.scss */
.carousel-fade .carousel-inner .active.left,
.carousel-fade .carousel-inner .active.right {
  left: 0;
  opacity: 0;
  z-index: 1;
}

/* line 352, ../../sass/main2.scss */
.carousel-fade .carousel-inner .next.left,
.carousel-fade .carousel-inner .prev.right {
  opacity: 1;
}

/* line 355, ../../sass/main2.scss */
.carousel-fade .carousel-control {
  z-index: 2;
}

/* line 361, ../../sass/main2.scss */
.carousel,
.carousel-inner,
.carousel-inner .item {
  height: 100%;
}

/* line 365, ../../sass/main2.scss */
.or {
  display: inline-block;
  margin-left: 4px;
  margin-right: 4px;
  color: #252968;
  text-shadow: none;
}

/* line 373, ../../sass/main2.scss */
.carousel-inner > .item > img, .carousel-inner > .item > a > img {
  width: 100%;
}

/* line 377, ../../sass/main2.scss */
.cta-container {
  position: absolute;
  top: 130px;
  right: 66px;
  z-index: 999;
  text-align: center;
}
@media (max-width: 992px) {
  /* line 377, ../../sass/main2.scss */
  .cta-container {
    right: 30px;
  }
}

/* line 388, ../../sass/main2.scss */
.cta-container p {
  margin-top: 60px;
  color: #454c64;
  text-shadow: none;
  font-size: 20px;
  font-family: 'Roboto Slab', serif;
}

/* line 396, ../../sass/main2.scss */
.carousel-caption2 {
  position: absolute;
  top: 182px;
  right: 176px;
  z-index: 999;
  font-weight: 900;
}
@media (max-width: 992px) {
  /* line 396, ../../sass/main2.scss */
  .carousel-caption2 {
    right: 140px;
  }
}

/* line 407, ../../sass/main2.scss */
.carousel-caption2.office {
  right: 164px;
}
@media (max-width: 992px) {
  /* line 407, ../../sass/main2.scss */
  .carousel-caption2.office {
    right: 128px;
  }
}

/* line 420, ../../sass/main2.scss */
.hero-container-mobile {
  display: none;
  text-align: center;
}

@media (max-width: 768px) {
  /* line 425, ../../sass/main2.scss */
  .hero-container-mobile {
    display: block;
  }
}

/* line 431, ../../sass/main2.scss */
.hero-container-mobile h1 {
  font-size: 24px;
  margin-top: 0;
  margin-bottom: 4px;
}

/* line 437, ../../sass/main2.scss */
.hero-place {
  font-weight: 900;
}

/* line 441, ../../sass/main2.scss */
.hero-container-mobile p {
  margin-bottom: 0;
  margin-top: 6px;
}

/* line 448, ../../sass/main2.scss */
section {
  padding: 100px 30px;
  text-align: center;
}

/* line 453, ../../sass/main2.scss */
section h2, .livewire-saves h2 {
  margin-top: 0;
  margin-bottom: 5px;
}

/* line 458, ../../sass/main2.scss */
section h4 {
  margin-top: 20px;
}

/* line 462, ../../sass/main2.scss */
h4.second-line {
  margin-top: 10px;
  margin-top: -10px;
}

/* line 470, ../../sass/main2.scss */
.talk-personal {
  background: url(../img/gridpaperbg.jpg) no-repeat center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

/* line 481, ../../sass/main2.scss */
ul {
  padding: 0;
}

/* line 485, ../../sass/main2.scss */
.fp-list {
  text-align: center;
}

/* line 489, ../../sass/main2.scss */
.thumbnail {
  border: none;
  margin-bottom: 0;
}

/* line 494, ../../sass/main2.scss */
.thumbnail .caption1, .thumbnail .caption2 {
  position: absolute;
  bottom: 4px;
  color: white;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
}

/* line 504, ../../sass/main2.scss */
.fp-list h3 {
  font-family: 'Roboto Slab', serif;
  font-weight: 300;
  margin-bottom: 0;
  -moz-transition: all 1s linear;
  -webkit-transition: all 1s linear;
  transition: all 1s linear;
}

/* line 513, ../../sass/main2.scss */
.fp-list h4 {
  margin-top: 4px;
  font-size: 14px;
  -moz-transition: all 1s linear;
  -webkit-transition: all 1s linear;
  transition: all 1s linear;
}

/* line 521, ../../sass/main2.scss */
.fp-list h4, .fp-list h3 {
  text-shadow: 0 1px 8px rgba(0, 0, 0, 0.8);
}

/* line 525, ../../sass/main2.scss */
.covered h4, .covered h3 {
  text-shadow: none;
  color: #c0a888;
}

/* line 530, ../../sass/main2.scss */
img.profile-cover1, img.profile-cover2 {
  position: absolute;
  left: 0;
  right: 0;
  top: 4px;
  display: none;
}

/* line 538, ../../sass/main2.scss */
img.profile-cover1.covered, img.profile-cover2.covered {
  display: inline-block;
}

/* line 546, ../../sass/main2.scss */
.how-to-livewire ul, .makes-it-easy ul {
  margin: 50px auto 0 auto;
  max-width: 1024px;
}

/* line 551, ../../sass/main2.scss */
.how-to-livewire img {
  margin-bottom: 20px;
}

/* line 555, ../../sass/main2.scss */
.how-to-livewire p {
  max-width: 240px;
  margin: 0 auto;
}

/* line 560, ../../sass/main2.scss */
.makes-it-easy p {
  max-width: 260px;
  margin: 0 auto;
}

/* line 565, ../../sass/main2.scss */
.how-to-livewire p, .makes-it-easy p {
  max-width: 240px;
  margin: 0 auto;
}

/* line 570, ../../sass/main2.scss */
img.pens {
  margin-top: 53px;
}

/* line 574, ../../sass/main2.scss */
img.glasses {
  margin-top: 52px;
}

/* line 578, ../../sass/main2.scss */
.vc-ipad-bkg {
  background: url(../img/mobilefacetoface.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: 600px;
}

/* line 587, ../../sass/main2.scss */
.makes-it-easy li h4, .how-to-livewire li h4 {
  font-weight: 700;
  font-size: 20px;
}

/* line 592, ../../sass/main2.scss */
.makes-it-easy li {
  padding: 0 40px;
}

/* line 596, ../../sass/main2.scss */
img.devices {
  margin-top: 60px;
  display: none;
}

/* line 604, ../../sass/main2.scss */
.devices-container {
  width: 704px;
  height: 330px;
  margin: 60px auto 0 auto;
  position: relative;
}
@media (max-width: 768px) {
  /* line 604, ../../sass/main2.scss */
  .devices-container {
    width: 260px;
    height: 120px;
  }
}

/* line 615, ../../sass/main2.scss */
.devices-container .device {
  position: absolute;
  margin: 0 auto;
  right: 0;
  left: 0;
  -moz-transition: all .6s ease-out;
  -webkit-transition: all .6s ease-out;
  transition: all .6s ease-out;
}

/* line 629, ../../sass/main2.scss */
.device-mobile {
  z-index: 9;
  bottom: 14px;
}

/* line 634, ../../sass/main2.scss */
.device-ipad {
  bottom: 14px;
}

/* line 638, ../../sass/main2.scss */
.device-moved .device-computer {
  left: -180px;
}
@media (max-width: 768px) {
  /* line 638, ../../sass/main2.scss */
  .device-moved .device-computer {
    left: -100px;
  }
}

/* line 645, ../../sass/main2.scss */
.device-moved .device-ipad {
  right: -390px;
}
@media (max-width: 768px) {
  /* line 645, ../../sass/main2.scss */
  .device-moved .device-ipad {
    right: -160px;
  }
}

/* line 652, ../../sass/main2.scss */
.device-moved .device-mobile {
  right: -50px;
}
@media (max-width: 768px) {
  /* line 652, ../../sass/main2.scss */
  .device-moved .device-mobile {
    right: -20px;
  }
}

@media (max-width: 768px) {
  /* line 659, ../../sass/main2.scss */
  .devices-container .device-computer {
    width: 80%;
  }
}

@media (max-width: 768px) {
  /* line 665, ../../sass/main2.scss */
  .devices-container .device-mobile {
    width: 14%;
  }
}

@media (max-width: 768px) {
  /* line 671, ../../sass/main2.scss */
  .devices-container .device-ipad {
    width: 50%;
  }
}

/* line 680, ../../sass/main2.scss */
.livewire-saves, .avg-tax-fees {
  height: 840px;
  text-align: center;
}

/* line 685, ../../sass/main2.scss */
.livewire-saves {
  background-color: #454c64;
  color: #EFEFEF;
  padding: 240px 60px 0 60px;
}

/* line 691, ../../sass/main2.scss */
.livewire-saves img {
  margin-bottom: 20px;
}

/* line 695, ../../sass/main2.scss */
.livewire-saves h2 {
  color: #EFEFEF;
}

/* line 699, ../../sass/main2.scss */
.livewire-saves p {
  line-height: 30px;
}

/* line 703, ../../sass/main2.scss */
.avg-tax-fees {
  background-color: #EFEFEF;
  padding: 60px 50px 0 50px;
  color: #4F4F4F;
}

/* line 713, ../../sass/main2.scss */
.press {
  margin: 40px auto 0 auto;
}

/* line 717, ../../sass/main2.scss */
.chart-container {
  width: 480px;
  position: relative;
  margin: 40px auto 0 auto;
  overflow: hidden;
}

/* line 724, ../../sass/main2.scss */
.chart-bkg {
  width: 480px;
  z-index: 9;
}

/* line 729, ../../sass/main2.scss */
.bars {
  position: absolute;
  width: 466px;
  left: 7px;
  bottom: -9px;
  display: none;
}

/* line 740, ../../sass/main2.scss */
.people-are-talking {
  background-color: #454c64;
}

/* line 744, ../../sass/main2.scss */
.people-are-talking h2, .people-are-talking h6 {
  color: #c0a888;
}

/* line 748, ../../sass/main2.scss */
.people-are-talking h6 {
  position: absolute;
  bottom: 10px;
  left: 0;
  right: 0;
}

/* line 755, ../../sass/main2.scss */
.people-are-talking h2 {
  margin-bottom: 60px;
}

/* line 759, ../../sass/main2.scss */
.people-are-talking a {
  color: #5EA9DD;
}

/* line 763, ../../sass/main2.scss */
.twitter-icon, .twitter-link {
  display: block;
  margin: 0 auto;
}

/* line 768, ../../sass/main2.scss */
.twitter-icon {
  margin-bottom: 4px;
}

/* line 772, ../../sass/main2.scss */
.tweet-container {
  background-color: white;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  border-radius: 4px;
  border: 2px solid #c0a888;
  max-width: 340px;
  padding: 30px 30px 10px 30px;
  margin: 0 auto;
  margin-top: 20px;
  margin-bottom: 20px;
  height: 360px;
  position: relative;
  overflow: hidden;
}
@media (min-width: 1024px) {
  /* line 772, ../../sass/main2.scss */
  .tweet-container {
    height: 330px;
  }
}

/* line 789, ../../sass/main2.scss */
.people-are-talking h5 {
  font-size: 18px;
  margin-top: 20px;
  position: absolute;
  bottom: 36px;
  left: 0;
  right: 0;
}

/* line 798, ../../sass/main2.scss */
.people-are-talking h6 {
  font-size: 14px;
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
}

/* line 804, ../../sass/main2.scss */
.tweet-container p {
  line-height: 26px;
}
@media (min-width: 1024px) {
  /* line 804, ../../sass/main2.scss */
  .tweet-container p {
    line-height: 32px;
  }
}

/* line 811, ../../sass/main2.scss */
.twitter-user-img {
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  border-radius: 50%;
  border: 2px solid #c0a888;
}

/* line 816, ../../sass/main2.scss */
.tweet-txt {
  display: none;
  height: 80%;
}

/* line 823, ../../sass/main2.scss */
.where-is .table {
  max-width: 640px;
  margin: 70px auto 0 auto;
  font-size: 18px;
}

/* line 829, ../../sass/main2.scss */
.table > thead > tr > th, .table > tbody > tr > th, .table > tfoot > tr > th, .table > thead > tr > td, .table > tbody > tr > td, .table > tfoot > tr > td {
  border-top: none;
  width: 200px;
}

/* line 836, ../../sass/main2.scss */
.header-fixed {
  background-color: #EFEFEF;
}
@media (max-width: 768px) {
  /* line 836, ../../sass/main2.scss */
  .header-fixed {
    padding-bottom: 20px;
  }
}

/* line 843, ../../sass/main2.scss */
.header-fixed h2 {
  display: inline-block;
  margin: 0;
  line-height: 80px;
  margin-right: 30px;
}
@media (max-width: 768px) {
  /* line 843, ../../sass/main2.scss */
  .header-fixed h2 {
    display: block;
    line-height: 40px;
    font-size: 18px;
  }
}

/* line 855, ../../sass/main2.scss */
.header-fixed a {
  margin-top: -14px;
  margin-right: 20px;
}
@media (max-width: 768px) {
  /* line 855, ../../sass/main2.scss */
  .header-fixed a {
    margin: 0 auto;
  }
}

/* line 864, ../../sass/main2.scss */
.header-fixed-container {
  text-align: center;
}

/* line 868, ../../sass/main2.scss */
.fixed {
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 99;
}

/* line 881, ../../sass/main2.scss */
footer {
  background-color: #454c64;
  color: white;
  text-align: center;
  padding-top: 30px;
  font-family: 'Raleway', sans-serif;
}

/* line 889, ../../sass/main2.scss */
footer a, footer a:hover {
  color: white;
}

/* line 893, ../../sass/main2.scss */
footer .table {
  width: 50%;
  margin: 20px auto;
}

/* line 898, ../../sass/main2.scss */
footer .table > thead > tr > th, footer .table > thead > tr > td {
  height: 0px;
}

/* ==========================================================================
   Helper classes
   ========================================================================== */
/*
 * Image replacement
 */
/* line 910, ../../sass/main2.scss */
.ir {
  background-color: transparent;
  border: 0;
  overflow: hidden;
  /* IE 6/7 fallback */
  *text-indent: -9999px;
}

/* line 918, ../../sass/main2.scss */
.ir:before {
  content: "";
  display: block;
  width: 0;
  height: 150%;
}

/*
 * Hide from both screenreaders and browsers: h5bp.com/u
 */
/* line 929, ../../sass/main2.scss */
.hidden {
  display: none !important;
  visibility: hidden;
}

/*
 * Hide only visually, but have it available for screenreaders: h5bp.com/v
 */
/* line 938, ../../sass/main2.scss */
.visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

/*
 * Extends the .visuallyhidden class to allow the element to be focusable
 * when navigated to via the keyboard: h5bp.com/p
 */
/* line 955, ../../sass/main2.scss */
.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  width: auto;
}

/*
 * Hide visually and from screenreaders, but maintain layout
 */
/* line 968, ../../sass/main2.scss */
.invisible {
  visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */
/* line 985, ../../sass/main2.scss */
.clearfix:before,
.clearfix:after {
  content: " ";
  /* 1 */
  display: table;
  /* 2 */
}

/* line 990, ../../sass/main2.scss */
.clearfix:after {
  clear: both;
}

/*
 * For IE 6/7 only
 * Include this rule to trigger hasLayout and contain floats.
 */
/* line 999, ../../sass/main2.scss */
.clearfix {
  *zoom: 1;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */
@media only screen and (min-width: 35em) {
  /* Style adjustments for viewports that meet the condition */
}
@media print, (-o-min-device-pixel-ratio: 5 / 4), (-webkit-min-device-pixel-ratio: 1.25), (min-resolution: 120dpi) {
  /* Style adjustments for high resolution devices */
}
/* ==========================================================================
   Print styles.
   Inlined to avoid required HTTP connection: h5bp.com/r
   ========================================================================== */
@media print {
  /* line 1026, ../../sass/main2.scss */
  * {
    background: transparent !important;
    color: #000 !important;
    /* Black prints faster: h5bp.com/s */
    box-shadow: none !important;
    text-shadow: none !important;
  }

  /* line 1034, ../../sass/main2.scss */
  a,
  a:visited {
    text-decoration: underline;
  }

  /* line 1038, ../../sass/main2.scss */
  a[href]:after {
    content: " (" attr(href) ")";
  }

  /* line 1042, ../../sass/main2.scss */
  abbr[title]:after {
    content: " (" attr(title) ")";
  }

  /*
   * Don't show links for images, or javascript/internal links
   */
  /* line 1052, ../../sass/main2.scss */
  .ir a:after,
  a[href^="javascript:"]:after,
  a[href^="#"]:after {
    content: "";
  }

  /* line 1057, ../../sass/main2.scss */
  pre,
  blockquote {
    border: 1px solid #999;
    page-break-inside: avoid;
  }

  /* line 1062, ../../sass/main2.scss */
  thead {
    display: table-header-group;
    /* h5bp.com/t */
  }

  /* line 1067, ../../sass/main2.scss */
  tr,
  img {
    page-break-inside: avoid;
  }

  /* line 1071, ../../sass/main2.scss */
  img {
    max-width: 100% !important;
  }

  @page {
    margin: 0.5cm;
}

  /* line 1081, ../../sass/main2.scss */
  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3;
  }

  /* line 1087, ../../sass/main2.scss */
  h2,
  h3 {
    page-break-after: avoid;
  }
}
