/*
 * HTML5 Boilerplate
 *
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */
/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */
/* line 25, ../../sass/main.scss */
html,
button,
input,
select,
textarea {
  color: #008b9d;
}

/* line 30, ../../sass/main.scss */
html, body {
  width: 100%;
  height: 100%;
  margin: 0px;
  padding: 0px;
  overflow-x: hidden;
}

/* line 38, ../../sass/main.scss */
body {
  line-height: 2;
  color: #008b9d;
}

/*
 * Remove text-shadow in selection highlight: h5bp.com/i
 * These selection rule sets have to be separate.
 * Customize the background color to match your design.
 */
/* line 51, ../../sass/main.scss */
::-moz-selection {
  background: #b3d4fc;
  text-shadow: none;
}

/* line 56, ../../sass/main.scss */
::selection {
  background: #b3d4fc;
  text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */
/* line 65, ../../sass/main.scss */
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}

/*
 * Remove the gap between images and the bottom of their containers: h5bp.com/i/440
 */
/* line 78, ../../sass/main.scss */
img {
  vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */
/* line 86, ../../sass/main.scss */
fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */
/* line 96, ../../sass/main.scss */
textarea {
  resize: vertical;
}

/* ==========================================================================
   Chrome Frame prompt
   ========================================================================== */
/* line 104, ../../sass/main.scss */
.chromeframe {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */
/* line 136, ../../sass/main.scss */
html {
  background-image: url("../img/bkg.jpg");
}

/* line 141, ../../sass/main.scss */
body {
  background-image: url("../img/bkg.jpg");
  font-size: 14px;
  color: #008b9d;
}

/* line 150, ../../sass/main.scss */
.container {
  max-width: 940px;
}

/* line 154, ../../sass/main.scss */
.main-body {
  background-color: white;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  -ms-border-radius: 8px;
  -o-border-radius: 8px;
  border-radius: 8px;
  border: 1px solid #ddd;
  padding: 50px;
}

/* line 161, ../../sass/main.scss */
ul {
  list-style-type: none;
}

/* line 164, ../../sass/main.scss */
a {
  color: #008b9d;
}

/* line 170, ../../sass/main.scss */
h1, h2 {
  font-family: 'Roboto Slab', serif;
}

/* line 174, ../../sass/main.scss */
h3 {
  font-family: 'Roboto', sans-serif;
}

/* line 181, ../../sass/main.scss */
.btn {
  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
  -ms-border-radius: 50px;
  -o-border-radius: 50px;
  border-radius: 50px;
  text-transform: uppercase;
  font-weight: 900;
}

/* line 187, ../../sass/main.scss */
.btn-primary {
  background-color: #fff;
  background-image: -webkit-gradient(linear, 50% 100%, 50% 0%, color-stop(0%, rgba(0, 0, 0, 0.03)), color-stop(100%, rgba(255, 255, 255, 0.03)));
  background-image: -webkit-linear-gradient(bottom, rgba(0, 0, 0, 0.03) 0%, rgba(255, 255, 255, 0.03) 100%);
  background-image: -moz-linear-gradient(bottom, rgba(0, 0, 0, 0.03) 0%, rgba(255, 255, 255, 0.03) 100%);
  background-image: -o-linear-gradient(bottom, rgba(0, 0, 0, 0.03) 0%, rgba(255, 255, 255, 0.03) 100%);
  background-image: linear-gradient(bottom, rgba(0, 0, 0, 0.03) 0%, rgba(255, 255, 255, 0.03) 100%);
  border: 1px solid #00defb;
  color: #00defb;
}

/* line 194, ../../sass/main.scss */
.btn-primary:hover {
  background-color: #00defb;
  background-image: -webkit-gradient(linear, 50% 100%, 50% 0%, color-stop(0%, rgba(0, 0, 0, 0.03)), color-stop(100%, rgba(255, 255, 255, 0.03)));
  background-image: -webkit-linear-gradient(bottom, rgba(0, 0, 0, 0.03) 0%, rgba(255, 255, 255, 0.03) 100%);
  background-image: -moz-linear-gradient(bottom, rgba(0, 0, 0, 0.03) 0%, rgba(255, 255, 255, 0.03) 100%);
  background-image: -o-linear-gradient(bottom, rgba(0, 0, 0, 0.03) 0%, rgba(255, 255, 255, 0.03) 100%);
  background-image: linear-gradient(bottom, rgba(0, 0, 0, 0.03) 0%, rgba(255, 255, 255, 0.03) 100%);
  border: 1px solid #00defb;
  color: #fff;
}

/* line 201, ../../sass/main.scss */
a.message-btn.btn {
  font-size: 14px;
  line-height: 26px;
}

/* line 208, ../../sass/main.scss */
.navbar-default {
  background-color: transparent;
  border: 0;
  font-family: 'Roboto Slab', serif;
  text-transform: uppercase;
}

/* line 216, ../../sass/main.scss */
.navbar {
  margin: 10px 0;
  border-radius: 0;
}

/* line 221, ../../sass/main.scss */
.navbar-default .navbar-nav > li > a {
  color: #008b9d;
}

/* line 225, ../../sass/main.scss */
.navbar-nav.navbar-right:last-child {
  margin-right: 0;
}

/* line 231, ../../sass/main.scss */
.container-fluid.vc-screen {
  padding: 0;
}

/* line 235, ../../sass/main.scss */
.vc-screen .navbar-default {
  background-color: white;
  border: 1px solid #ddd;
  margin: 0;
  padding: 10px 0;
}

/* line 242, ../../sass/main.scss */
.vc-screen .navbar-header {
  line-height: 62px;
}

/* line 246, ../../sass/main.scss */
.vc-screen .navbar-brand {
  margin-top: 4px;
}

/* line 250, ../../sass/main.scss */
.vc-nav-btn {
  width: 62px;
  height: 62px;
  margin-left: 30px;
}
@media (max-width: 992px) {
  /* line 250, ../../sass/main.scss */
  .vc-nav-btn {
    margin-left: 20px;
  }
}

/* line 259, ../../sass/main.scss */
.video-on {
  background: url("../img/video-on.png") 0 center no-repeat;
}

/* line 263, ../../sass/main.scss */
.video-off {
  background: url("../img/video-off.png") 0 center no-repeat;
}

/* line 267, ../../sass/main.scss */
.mic-on {
  background: url("../img/mic-on.png") 0 center no-repeat;
}

/* line 271, ../../sass/main.scss */
.mic-off {
  background: url("../img/mic-off.png") 0 center no-repeat;
}

/* line 275, ../../sass/main.scss */
.screen-expand {
  background: url("../img/screen-expand.png") 0 center no-repeat;
}

/* line 279, ../../sass/main.scss */
.screen-shrink {
  background: url("../img/screen-shrink.png") 0 center no-repeat;
}

/* line 283, ../../sass/main.scss */
.end-call {
  background: url("../img/end-call.png") 0 center no-repeat;
}

/* line 287, ../../sass/main.scss */
.navbar-default .navbar-text {
  color: #008b9d;
  font-size: 1.8em;
  margin-top: 0;
  margin-bottom: 0;
}
@media (max-width: 992px) {
  /* line 287, ../../sass/main.scss */
  .navbar-default .navbar-text {
    font-size: 1.5em;
  }
}

/* line 297, ../../sass/main.scss */
.vc-with.navbar-text {
  margin-left: 30px;
  margin-right: -6px;
  text-transform: lowercase;
  font-size: 16px;
  font-style: italic;
  font-weight: 300;
}

/* line 306, ../../sass/main.scss */
.vc-name {
  text-transform: capitalize;
}

@media (max-width: 768px) {
  /* line 310, ../../sass/main.scss */
  .vc-with, .vc-name {
    display: none;
  }
}

/* line 319, ../../sass/main.scss */
.user-img {
  width: 66px;
  height: 66px;
  border: 1px solid #008b9d;
  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
  -ms-border-radius: 50px;
  -o-border-radius: 50px;
  border-radius: 50px;
}
@media (max-width: 768px) {
  /* line 319, ../../sass/main.scss */
  .user-img {
    width: 32px;
    height: 32px;
  }
}

/* line 334, ../../sass/main.scss */
.dashboard-container {
  padding-top: 16px;
}

/* line 338, ../../sass/main.scss */
.dashboard-module {
  margin-bottom: 50px;
}

/* line 342, ../../sass/main.scss */
.dashboard-module h3, .vc-screen h3 {
  font-family: 'Roboto Slab', serif;
  color: #008b9d;
  text-transform: uppercase;
  font-size: 1.3em;
  font-weight: bold;
  padding-left: 44px;
  line-height: 40px;
}
@media (max-width: 768px) {
  /* line 342, ../../sass/main.scss */
  .dashboard-module h3, .vc-screen h3 {
    line-height: 30px;
  }
}

/* line 355, ../../sass/main.scss */
h3.appt-header {
  background: url("../img/calendar-icon.png") 0 center no-repeat;
}

/* line 359, ../../sass/main.scss */
h3.hired-header {
  background: url("../img/user-list-icon.png") 0 center no-repeat;
}

/* line 363, ../../sass/main.scss */
h3.docs-header {
  background: url("../img/docs-icon.png") 0 center no-repeat;
}

/* line 367, ../../sass/main.scss */
h3.messages-header {
  background: url("../img/messages-icon.png") 0 center no-repeat;
}

/* line 371, ../../sass/main.scss */
.doc-count {
  margin-left: 30px;
  position: relative;
  top: -44px;
  left: 160px;
}
@media (max-width: 768px) {
  /* line 371, ../../sass/main.scss */
  .doc-count {
    display: block;
    margin: -6px 0 10px 48px;
    position: static;
  }
}

/* line 384, ../../sass/main.scss */
.dashboard-module ul {
  padding: 0;
}

/* line 388, ../../sass/main.scss */
.appt-module .row, .hired-module .row, .doc-module .row, .messages-module .row {
  line-height: 86px;
  margin-bottom: 20px;
  border-bottom: 1px solid #eee;
  padding-bottom: 20px;
}

@media (max-width: 768px) {
  /* line 395, ../../sass/main.scss */
  .appt-module .row, .hired-module .row {
    line-height: 56px;
  }
}

@media (max-width: 768px) {
  /* line 401, ../../sass/main.scss */
  .messages-module .row {
    line-height: 0;
  }
}

/* line 407, ../../sass/main.scss */
.dashboard-module .user-img {
  margin-right: 10px;
}

/* line 411, ../../sass/main.scss */
.doc-module .user-img {
  margin-right: 0;
}

/* line 415, ../../sass/main.scss */
.dashboard-module header {
  border-bottom: 1px solid #eee;
  margin-bottom: 20px;
}

/* line 420, ../../sass/main.scss */
.appt-time, .appt-channel, .status {
  padding-left: 44px;
  display: inline-block;
}

/* line 425, ../../sass/main.scss */
.appt-time {
  background: url("../img/clock-icon.png") 0 center no-repeat;
}

/* line 429, ../../sass/main.scss */
.appt-channel.phone {
  background: url("../img/phone-icon.png") 0 center no-repeat;
}

/* line 433, ../../sass/main.scss */
.appt-channel.video {
  background: url("../img/video-icon.png") 0 center no-repeat;
}

@media (max-width: 768px) {
  /* line 437, ../../sass/main.scss */
  .appt-channel.phone, .appt-channel.video {
    margin-left: -2px;
  }
}

/* line 443, ../../sass/main.scss */
.status {
  background: url("../img/status-icon.png") 0 center no-repeat;
}

/* line 448, ../../sass/main.scss */
.dashboard-container .btn-primary {
  width: 120px;
  height: 40px;
}

/* line 453, ../../sass/main.scss */
.dashboard-module .btn-primary {
  margin-top: 22px;
}
@media (max-width: 992px) {
  /* line 453, ../../sass/main.scss */
  .dashboard-module .btn-primary {
    float: left !important;
    margin-top: 4px;
  }
}

/* line 461, ../../sass/main.scss */
a.reschedule, a.cancel, a.provider-phone {
  position: absolute;
  top: 40px;
  font-size: 10px;
}
@media (max-width: 992px) {
  /* line 461, ../../sass/main.scss */
  a.reschedule, a.cancel, a.provider-phone {
    top: -20px;
  }
}
@media (max-width: 992px) and (max-width: 768px) {
  /* line 461, ../../sass/main.scss */
  a.reschedule, a.cancel, a.provider-phone {
    top: -6px;
  }
}

/* line 473, ../../sass/main.scss */
a.reschedule {
  right: 80px;
}
@media (max-width: 992px) {
  /* line 473, ../../sass/main.scss */
  a.reschedule {
    left: 146px;
  }
}

/* line 480, ../../sass/main.scss */
a.cancel {
  right: 22px;
}
@media (max-width: 992px) {
  /* line 480, ../../sass/main.scss */
  a.cancel {
    left: 206px;
  }
}

/* line 487, ../../sass/main.scss */
a.provider-phone {
  right: 44px;
}
@media (max-width: 992px) {
  /* line 487, ../../sass/main.scss */
  a.provider-phone {
    left: 146px;
  }
}

/* line 494, ../../sass/main.scss */
.doc-name {
  display: block;
  line-height: 18px;
  color: #999;
}

/* line 500, ../../sass/main.scss */
.doc-module .row {
  text-align: center;
}

@media (max-width: 768px) {
  /* line 504, ../../sass/main.scss */
  .doc-module .user-img {
    width: 66px;
    height: 66px;
  }
}

/* line 511, ../../sass/main.scss */
.doc-not-uploaded, .doc-uploaded {
  width: 62px;
  height: 62px;
  display: block;
  margin: 0 auto;
  margin-top: 12px;
  margin-bottom: 10px;
}

/* line 520, ../../sass/main.scss */
.doc-not-uploaded {
  background: url("../img/doc-not-uploaded.png") 0 center no-repeat;
}

/* line 524, ../../sass/main.scss */
.doc-uploaded {
  background: url("../img/doc-uploaded.png") 0 center no-repeat;
}

/* line 528, ../../sass/main.scss */
.doc-uploaded + .doc-name {
  color: #008b9d;
}

/* line 532, ../../sass/main.scss */
.add-new-file {
  margin-top: -4px;
  display: inline-block;
}

/* line 537, ../../sass/main.scss */
.message-content-container {
  line-height: 1.5em;
  padding-top: 34px;
  padding-right: 20px;
  overflow: hidden;
  max-height: 100px;
}
@media (max-width: 768px) {
  /* line 537, ../../sass/main.scss */
  .message-content-container {
    padding-top: 10px;
  }
}

/* line 551, ../../sass/main.scss */
.message-time {
  color: #999999;
}
@media (max-width: 768px) {
  /* line 551, ../../sass/main.scss */
  .message-time {
    float: left !important;
    margin-top: 10px;
  }
}

/* line 559, ../../sass/main.scss */
.message-unread {
  font-weight: 900;
}

/* line 566, ../../sass/main.scss */
.messages-container {
  background-color: white;
  border: 1px solid #ddd;
  border-top: 0;
  padding: 0;
}

/* line 573, ../../sass/main.scss */
.video-container {
  text-align: center;
  padding-top: 20px;
}

/* line 578, ../../sass/main.scss */
.messages-container header {
  border-bottom: 1px solid #ddd;
}

/* line 582, ../../sass/main.scss */
.messages-container h3.messages-header {
  margin-left: 20px;
  margin-top: 10px;
  padding-left: 50px;
}
@media (max-width: 992px) {
  /* line 582, ../../sass/main.scss */
  .messages-container h3.messages-header {
    padding-top: 10px;
  }
}

/* line 591, ../../sass/main.scss */
.message-sender {
  font-weight: 900;
}

/* line 595, ../../sass/main.scss */
.chat-message p {
  margin: 10px 0 0 0;
  line-height: 22px;
}

/* line 600, ../../sass/main.scss */
p.message {
  margin-top: 4px;
}

/* line 604, ../../sass/main.scss */
.chat-body ul {
  padding-left: 0;
}

/* line 608, ../../sass/main.scss */
li.chat-message {
  padding: 0 10px 10px 26px;
  border-bottom: 1px solid #ddd;
}

/* line 613, ../../sass/main.scss */
.chat-input {
  padding: 2px 24px 10px 24px;
  line-height: 1.5em;
}

/* line 624, ../../sass/main.scss */
.scheduling-container {
  text-align: center;
}

/* line 628, ../../sass/main.scss */
.headline-emp {
  color: #ff7a00;
}

/* line 632, ../../sass/main.scss */
.scheduling-container h1 {
  margin-top: 0;
}

/* line 636, ../../sass/main.scss */
.scheduling-container section {
  border-bottom: 1px solid #ddd;
  padding-bottom: 6px;
}

/* ==========================================================================
   Helper classes
   ========================================================================== */
/*
 * Image replacement
 */
/* line 650, ../../sass/main.scss */
.ir {
  background-color: transparent;
  border: 0;
  overflow: hidden;
  /* IE 6/7 fallback */
  *text-indent: -9999px;
}

/* line 658, ../../sass/main.scss */
.ir:before {
  content: "";
  display: block;
  width: 0;
  height: 150%;
}

/*
 * Hide from both screenreaders and browsers: h5bp.com/u
 */
/* line 669, ../../sass/main.scss */
.hidden {
  display: none !important;
  visibility: hidden;
}

/*
 * Hide only visually, but have it available for screenreaders: h5bp.com/v
 */
/* line 678, ../../sass/main.scss */
.visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

/*
 * Extends the .visuallyhidden class to allow the element to be focusable
 * when navigated to via the keyboard: h5bp.com/p
 */
/* line 695, ../../sass/main.scss */
.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  width: auto;
}

/*
 * Hide visually and from screenreaders, but maintain layout
 */
/* line 708, ../../sass/main.scss */
.invisible {
  visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */
/* line 725, ../../sass/main.scss */
.clearfix:before,
.clearfix:after {
  content: " ";
  /* 1 */
  display: table;
  /* 2 */
}

/* line 730, ../../sass/main.scss */
.clearfix:after {
  clear: both;
}

/*
 * For IE 6/7 only
 * Include this rule to trigger hasLayout and contain floats.
 */
/* line 739, ../../sass/main.scss */
.clearfix {
  *zoom: 1;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */
@media only screen and (min-width: 35em) {
  /* Style adjustments for viewports that meet the condition */
}
@media print, (-o-min-device-pixel-ratio: 5 / 4), (-webkit-min-device-pixel-ratio: 1.25), (min-resolution: 120dpi) {
  /* Style adjustments for high resolution devices */
}
/* ==========================================================================
   Print styles.
   Inlined to avoid required HTTP connection: h5bp.com/r
   ========================================================================== */
@media print {
  /* line 766, ../../sass/main.scss */
  * {
    background: transparent !important;
    color: #000 !important;
    /* Black prints faster: h5bp.com/s */
    box-shadow: none !important;
    text-shadow: none !important;
  }

  /* line 774, ../../sass/main.scss */
  a,
  a:visited {
    text-decoration: underline;
  }

  /* line 778, ../../sass/main.scss */
  a[href]:after {
    content: " (" attr(href) ")";
  }

  /* line 782, ../../sass/main.scss */
  abbr[title]:after {
    content: " (" attr(title) ")";
  }

  /*
   * Don't show links for images, or javascript/internal links
   */
  /* line 792, ../../sass/main.scss */
  .ir a:after,
  a[href^="javascript:"]:after,
  a[href^="#"]:after {
    content: "";
  }

  /* line 797, ../../sass/main.scss */
  pre,
  blockquote {
    border: 1px solid #999;
    page-break-inside: avoid;
  }

  /* line 802, ../../sass/main.scss */
  thead {
    display: table-header-group;
    /* h5bp.com/t */
  }

  /* line 807, ../../sass/main.scss */
  tr,
  img {
    page-break-inside: avoid;
  }

  /* line 811, ../../sass/main.scss */
  img {
    max-width: 100% !important;
  }

  @page {
    margin: 0.5cm;
}

  /* line 821, ../../sass/main.scss */
  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3;
  }

  /* line 827, ../../sass/main.scss */
  h2,
  h3 {
    page-break-after: avoid;
  }
}
